body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #F0F1F6;
}

/* mobile header */
header{
    padding-top: 1em;
    background-color: #3E42E6;
}

.titleContainer{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer h1{
    margin: 0;
    padding: 0; 
    color: white;
}



.addBookContainer{
    display: flex; 
    justify-content: flex-end;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
} 


#addBookBtn{
    border: none; 
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1em;
    color: white;
    background-color: #4C6FFE;
}

#addBookBtn:hover{
    background-color: #607ffd;
}







/* mobile book block */

.bookInfoBlock{
    display: flex; 
    flex-direction: column;
    background-color: #F9F8FD;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.bookInfoBlock strong{
    color: #0E0C22;
    font-size: 1.2em;
}


.bookInfoBlock > div:not(.delete-container){
    display: flex;
    margin-bottom: 1em;
}

.bookInfoBlock > div div{
    margin-right: 1em;
}

.bookInfoBlock p{
    margin: 0; 
    padding: 0;
    line-height: 1.5em;
}

.read-container button{
    border: none; 
    border-radius: 10px;
    font-size: 0.8em;
    padding: 0.3em;
    width: 50px;
    background-color: #392AF5;
    color: white; 
    border: none;
    border-radius: 10px;
}

.delete-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0em;
}

.delete-container button, #addBtnInInputBox{
    border: none; 
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1em;
    color: #392AF5;
    background-color: #F0F1F6;
}


.delete-container button:hover{
    color: white;
    background-color: #392BF5;
}


/* add book form  */

#addInputBox{

    background-color: white;
    max-width: 450px;
    padding: 1em;
    border-radius: 5px;
}



.userInputBoxcontainer{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;

    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.test{
    background-color: blue;
}
#addInputBox div{
    margin-bottom: 1em;
}

#addInputBox input{
    margin-left: 1em;
}

#inputBoxaddBtnContainer{
    display: flex;
    justify-content: flex-end;
}

.style-away{
    display: flex;
    justify-content: space-between;
}


#addBtnInInputBox{
    width: 60px;
    background-color: #3E43E5;
    color: white;
}

#addBtnInInputBox:hover{
    background-color: #4C6FFE;
    color: white;
}

.exit-btn-container{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
}

#input-box-exit-btn{
    border: none;
    background-color: #f3f3f3;
    border-radius: 50%;
}









/* book form */


@media only screen and (min-width: 900px)
{
  .bookInfoBlock{
      margin-top: 2em;
      min-width: 500px;
  }

  .bookInfoBlocksContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 2em;
  }
}




